node_modules
dist
coverage
public
functions/lib
functions/node_modules
.firebase
emulator-data
package-lock.json
functions/package-lock.json
*.log
index.html
test-results
playwright-report
blob-report
